{
  "extends": [ "eslint:recommended" ],
  "env": {
    “node”: true,
    “browser”: true,
  },
  "pasrser": "babel",
  "parserOptions": {
      ecmaVersion: 6,
      ecmaFeatures: {
          jsx: true,
      },
      sourceType: "module"
  },
}